.wrapper {
  display: none;

  @media screen and (max-width: 767px) {
    display: flex;
  }
}

.toggle {
  color: #ffffff;
  padding: 0;
  border: none;
}

.modal {
  position: relative;
  z-index: 39;
  color: #000000;

  &__backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);

    @media screen and (min-width: 768px) {
      background-color: rgba(0, 0, 0, 0.2);
      backdrop-filter: blur(10px);
    }
  }

  &__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: hidden;
  }

  &__container {
    display: flex;
    min-height: 100%;
    align-items: flex-start;
    justify-content: center;

    @media screen and (min-width: 768px) {
      align-items: center;
    }
  }

  &__content {
    --opacity-closed: 0%;
    --opacity-open: 100%;

    position: relative;
    width: 100%;
    max-width: 400px;
    padding-top: 88px;
    padding-bottom: 16px;
    background: #242424;

    > * + * {
      margin-top: 8px;
    }

    hr {
      border-bottom: 1px solid #72707d33;
    }

    @media screen and (min-width: 768px) {
      --scale-closed: 90%;
      --scale-open: 100%;
    }

    @media screen and (max-width: 767px) {
      --y-closed: -32px;
      --y-open: 0px;

      padding: 80px 16px 16px;
      max-width: 100%;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
  }

  &__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #222424;
  }

  &__close {
    position: absolute;
    top: 20px;
    right: 16px;
    z-index: 10;
    opacity: 50%;
    transition: color 350ms ease;
    background: red;

    &:hover {
      color: #777777;
    }
  }
}

.actions {
  display: flex;

  > * + * {
    margin-left: 16px;
  }

  > button {
    --btn-radius: 4px;

    width: 100%;
    padding: 5px 0;
    font-size: 16px;
  }
}

.item {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  grid-gap: 12px;
  padding: 4px 9px 8px;
  color: #ffffff;

  &__icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background-color: #00ffc4;
    border-radius: 50%;
  }

  &__text {
    color: #ffffff;
  }

  &__title {
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    text-transform: capitalize;
  }

  &__helper {
    color: #ffffff;
    font-size: 11px;
    line-height: 12px;
    letter-spacing: 0.15px;
  }
}
