@use '@/assets/styles/utils' as *;

.wrapper {
  display: flex;
  align-items: center;
  gap: 34.5px;

  &.open {
    gap: 20px;
  }

  .points {
    @include gap(4px, right);
    margin-right: 40px;
  }
}

.balance {
  b {
    font-size: 20px;
    line-height: 22px;
    letter-spacing: -0.4px;
  }
}

.openWallet {
  display: flex;
  align-items: center;
  gap: 4px;
}

.connectWallet {
  width: 169px;
  height: 44px;
  padding: 17px 24px 17px 24px;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0.03em;
}
