.content {
  flex: 1 1 100%;
  max-height: 430px;
}

.list {
  display: grid;
  grid-gap: 15px;
  width: 100%;

  .walletButton {
    width: 100%;
    padding-right: 20px;
    padding-left: 24px;
    height: 48px;
    justify-content: space-between;
    border: none;
    outline: none;
    background: #ffffff;
    display: flex;
    align-items: center;
    transition: 0.3s;
    cursor: pointer;

    &:not(:disabled):hover {
      background: #d4d4d4;
    }

    &:disabled {
      color: #000000;
      cursor: not-allowed;
    }

    &:hover {
      & .statusAccounts {
        color: #00b387;
      }
    }
  }
}

.list--scroll {
  padding-right: 20px;
}

.status {
  display: block;
  text-align: right;

  & .statusText {
    display: block;
    font-weight: 600;
    font-size: 12px;
    line-height: 12px;
    color: #a2a2a2;
  }

  & .statusAccounts {
    display: block;
    font-weight: 700;
    font-size: 11px;
    line-height: 10px;
    letter-spacing: 0.02em;
    color: #02f8bf;
    transition: color 250ms ease;
  }
}

.account {
  display: flex;
  align-items: center;

  & > *:not(:last-child) {
    margin-right: 10px;
  }

  & .accountButton {
    height: 50px;
    border: none;
    justify-content: center;
    display: flex;
    align-items: center;
    width: 100%;
    padding-right: 24px;
    padding-left: 24px;
    font-weight: 600;
    font-size: 16px;
    background: #ffffff;
    cursor: pointer;
    transition: 0.3s;
    outline: none;
    border: none;

    & > *:not(:last-child) {
      margin-right: 12px;
    }

    &:not(:disabled):hover {
      background: #d4d4d4;
    }

    &:disabled {
      color: #000000;
    }

    & span {
      display: block;
      max-width: 22ch;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  & .accountButtonActive {
    background: linear-gradient(270deg, rgba(100, 255, 219, 0.07) 0%, rgba(0, 255, 196, 0.07) 100%);
    cursor: not-allowed;
  }

  & .accountIcon {
    pointer-events: none;
  }
}

.footer {
  margin-top: 22px;
  display: flex;
  justify-content: space-between;

  .walletButton {
    display: flex;
    align-items: center;
    background-color: transparent;
    transition: all 0.3s;
    padding: 0;
    border: none;
    outline: none;
    cursor: pointer;

    & > *:not(:last-child) {
      margin-right: 8px;
    }

    &:hover {
      opacity: 0.5;
    }
  }
}

.changeText {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.02em;
  color: #00b387;
}

.textButton {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: none;
  outline: none;
  border: none;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.54px;
  transition: opacity 300ms ease;
  cursor: pointer;

  & > *:not(:last-child) {
    margin-right: 10px;
  }

  &:hover {
    opacity: 50%;
  }
}

.modal {
  position: relative;
  z-index: 50;

  & .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);

    @media screen and (min-width: 768px) {
      background-color: rgba(0, 0, 0, 0.2);
      backdrop-filter: blur(10px);
    }
  }

  & .wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    overflow-y: hidden;
  }

  & .container {
    display: flex;
    min-height: 100%;
    align-items: flex-end;
    justify-content: center;

    @media screen and (min-width: 768px) {
      align-items: center;
    }
  }

  & .modalContent {
    --opacity-closed: 0%;
    --opacity-open: 100%;

    position: relative;
    width: 100%;
    max-width: 400px;
    background-color: #f6f8f8;
    color: #000;

    @media screen and (min-width: 768px) {
      --scale-closed: 90%;
      --scale-open: 100%;

      padding: 30px 32px;
      border-radius: 4px;
    }

    @media screen and (max-width: 767px) {
      --y-closed: 32px;
      --y-open: 0px;

      padding: 32px 16px 32px;
      max-width: none;
    }
  }

  & .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
  }

  & .title {
    font-size: 18px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #222424;
  }

  & .close {
    position: relative;
    bottom: 2px;
    left: 5px;
    margin-left: auto;
    transition: color 350ms ease;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;

    &:hover {
      color: #777777;
    }
  }
}

.svgIcon {
  & path {
    fill: #000
  }
}