@use '@gear-js/ui/variables' as *;

@mixin customSimplebar {
  :global(.simplebar-content-wrapper) {
    outline: none;
  }

  :global(.simplebar-track) {
    overflow: visible;
    background-color: rgba(0, 0, 0, 0.1);

    &:global(.simplebar-vertical) {
      width: 1px;

      :global(.simplebar-scrollbar) {
        width: 3px;
        margin-left: -1px;
        background: $textColor;
        border-radius: 1px;
      }
    }

    &:global(.simplebar-horizontal) {
      height: 1px;

      :global(.simplebar-scrollbar) {
        height: 3px;
        margin-top: -1px;
        background: $textColor;
        border-radius: 1px;
      }
    }
  }
}

.simplebar {
  @include customSimplebar;
  max-height: 50vh;
  margin-right: -16px;

  :global(.simplebar-content) {
    margin-right: 16px;
  }
}

.modal {
  position: relative;

  &:not(.empty) {
    padding-bottom: 102px;
  }
}

.footer {
  position: absolute; // workaround cuz footer has different bg color
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 24px 32px;
  border-radius: 0 0 $borderRadiusMedium $borderRadiusMedium;
  display: flex;
  background-color: #222225;
}

.logoutButton {
  margin-left: auto;
}
