@use '~styles/variables' as *;
@use '~styles/mixins' as *;

.road-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  @include md {
    flex: 1;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0; 
      bottom: 0;
      box-shadow: 
            inset 0px 20px 18px -10px #fff; 
            z-index: 1;
    }
  }
}

.full-height {
  height: 100%
}