#App setup
VITE_NODE_ADDRESS=wss://testnet.vara.rs
VITE_AUTH_API_ADDRESS=
VITE_GAME_ADDRESS=
VITE_DEFAULT_NODES_URL=
VITE_STAGING_NODES_URL=

#Sentry setup
VITE_SENTRY_DSN_TTT=
SENTRY_ORG=
SENTRY_PROJECT_TTT=
SENTRY_AUTH_TOKEN=

#GTM
VITE_GTM_ID_TTT=
