VITE_NODE_ADDRESS=
VITE_CONTRACT_ADDRESS=

# optional, specify sentry dsn and targetted domain for error tracking
# if domain is not specified, localhost is used by default
VITE_SENTRY_DSN=
VITE_SENTRY_TARGET=

#GTM
VITE_GTM_ID_TTT=
