@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.layout {
  padding: 50px 0;
}

.title {
  font-size: 40px;
  font-weight: 500;

  @include xl {
    text-align: center;
  }
}

.content {
  padding-top: 32px;
  display: flex;

  @include xl {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
}

.left {
  flex: 1;
  margin-right: 32px;

  @include xl {
    width: 90%;
    margin: 0px;
  }
}

.dropzone-wrapper {
  width: 100%;
  height: 470px;
  margin-bottom: 26px;
}

.section-label {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 600;
  color: theme-var($text-section-title);
}

.datepicker-wrapper {
  padding-bottom: 20px;
}

.time-pickers-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input {
  position: relative;
  margin-bottom: 10px;
}

.controls {
  display: flex;
  padding-top: 10px;
}

.field-error {
  color: red;
  font-size: 14px;
}
