@use "@/assets/styles/utils" as *;

.field {
  position: relative;
}

.choose {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.winner {
  display: flex;
  @include flex-gap(15px);
}
