@use '@/utils' as *;

.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 30px;
}

.name {
  font-size: 32px;
  font-weight: 700;
  color: #ffffff;
  letter-spacing: 0.02em;
}

.description {
  width: 574px;
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  letter-spacing: 0.025em;
  line-height: 20px;
  opacity: 0.7;
}
