.grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4px;
  grid-template-areas: 'a1 a2 a3' 'a4 a5 a6' 'a7 a8 a9';

  @for $i from 1 through 9 {
    > *:nth-child(#{$i}) {
      grid-area: a#{$i};
    }
  }
}

.mark {
  transition: opacity 300ms ease;

  &.active {
    color: #00ffc4;
  }
}

.pending {
  opacity: 0.5;
}

.row-base {
  left: 19px;
  right: 19px;
  height: 8px;
  transform: translateY(-50%);
  background-color: var(--line-bg-color);
  border-radius: 8px;
}

.column-base {
  top: 19px;
  bottom: 19px;
  width: 8px;
  transform: translateX(-50%);
  background-color: var(--line-bg-color);
  border-radius: 8px;
}

.line {
  --line-bg-color: #000;
  position: absolute;
  pointer-events: none;

  &.line--primary {
    --line-bg-color: #00ffc4;
  }

  // diagonal type \
  &.diagonal-1 {
    inset: 19px;

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 8px;
      height: 141%;
      background-color: var(--line-bg-color);
      transform: rotate(-45deg) translate(-50%, -50%);
      transform-origin: top left;
      border-radius: 8px;
    }
  }

  // diagonal type /
  &.diagonal-2 {
    inset: 19px;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 8px;
      height: 141%;
      background-color: var(--line-bg-color);
      transform: rotate(45deg) translate(-50%, -50%);
      transform-origin: top left;
      border-radius: 8px;
    }
  }

  &.col-1 {
    @extend .column-base;
    left: calc((33.3% - 3px) / 2); // column 1
  }

  &.col-2 {
    @extend .column-base;
    left: 50%; // column center
  }

  &.col-3 {
    @extend .column-base;
    right: calc((33.3% - 19px) / 2); // column 3
  }

  &.row-1 {
    @extend .row-base;
    top: calc((33.3% - 3px) / 2); // row 1
  }

  &.row-2 {
    @extend .row-base;
    top: 50%; // row center
  }

  &.row-3 {
    @extend .row-base;
    bottom: calc((33.3% / 2) - (19px / 2)); // row 3
  }
}
