@use "@/assets/styles/utils" as *;

.content {
  @include gap(20px);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  white-space: nowrap;
}

.table {
  tbody tr {
    border-bottom: 1px solid #F5F5F5;;
    background-color: #fafafa;

    &:has(.first, .second, .third) {
      background-color: #fff;
    }
  }
}

.place {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  border-radius: 50%;

  &.first {
    background-color: #f9dc93;
  }

  &.second {
    background-color: #dae2eb;
  }

  &.third {
    background-color: #ffbaa4;
  }
}

.address {
  font-size: 14px;
  font-weight: 400;
}

.name {
  white-space: nowrap;
  font-weight: 600;
}

.points-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.points {
  justify-content: flex-end;
}

.winrate {
  font-size: 16px;
}

.header-points {
  text-align: right;
}

.search {
 flex: 300px 0 1;
}
