@use 'utils' as *;

.wallet {
  display: flex;
  align-items: center;
  font-weight: 800;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.icon {
  margin-right: 8px;
  background-color: #fff;
  border-radius: 50%;
}
