.container {
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
}

.header {
  position: relative;
  padding: 7px;
}

.backButton {
  position: absolute;
  top: 0;
  left: 0;
}

.title {
  font-size: 20px;
  font-weight: 600;
  line-height: 150%;
  margin-bottom: 20px;
  color: #fff;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
}

.switcherRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  margin-bottom: 10px;
}

.switcherLabel {
  font-family: 'Urbanist', sans-serif;
  font-size: 14px;
  color: #fff;
}

.switcherLabelRow {
  display: flex;
  align-items: center;
  gap: 6px;
}

.startDelayBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.startDelayLabel {
  font-family: 'Urbanist', sans-serif;
  font-size: 14px;
  color: #fff;
}
.startDelayInput {
  flex: 0 0 150px;
}

.actions {
  display: flex;
  justify-content: space-between;
  gap: 5px;

  > div {
    flex: 1;
  }

  button {
    padding: 10px;
    width: 100%;
  }
}
