.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 30px 28px 20px;
  // ! TODO: remove
  margin-top: 20px;
}

.buttons {
  display: flex;
  gap: 20px;
}

.welcome {
  font-size: 20px;
  font-weight: 600;
  line-height: 150%;
  color: #ffffff;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.avatar {
  margin-top: 4px;
}

.claim {
  margin-top: 34px;
  align-self: center;
}

.footer {
  margin-top: 11px;
  border-top: none;
  flex-direction: column-reverse;

  path {
    fill: #ffffff;
  }

  small {
    font-family: 'Urbanist', sans-serif;
  }
}
