.container {
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
}

.header {
  position: relative;
  padding: 7px;
  margin-bottom: 20px;
}

.backButton {
  position: absolute;
  top: 0;
  left: 0;
}

.addButton {
  position: absolute;
  top: 0;
  right: 0;
}

.searchContainer {
  width: 100%;
  position: relative;
}

.search {
  margin-bottom: 20px;
}

.searchButton {
  position: absolute;
  top: 17px;
  right: 15px;
}

.title {
  font-size: 20px;
  font-weight: 600;
  line-height: 150%;
  color: #fff;
  text-align: center;
}

.rooms {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
