.wallet {
  display: flex;
  align-items: center;
  gap: 48px;
}

/* TODO: removed for now, but need to add for a mobile */
/* .accountButton {
  display: block;

  @media screen and (max-width: 767px) {
    display: none;
  }
} */

/* TODO: removed for now, maybe will need for mobile */
/* .connectButton.connectButton {
  font-size: 16px;

  @media screen and (max-width: 767px) {
    height: 44px;
  }
} */
