.session {
  text-align: center;
  font-size: 14px;
  line-height: 1.4;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;

  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

.closeButton {
  color: rgb(221, 0, 0);
}
