.wrapper {
  width: fit-content;
  border-radius: 40px;
  border: 1px solid #3b3848;
  padding: 4px;
  background: transparent;
}

.button {
  font-family: 'Urbanist', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  border-radius: 40px;
  padding: 10px 40px;

  &:disabled {
    background: #3b3848;
    color: #6b6581;
    opacity: 1;
  }
}

.primary {
  background-image: linear-gradient(90deg, #f9c88804 0%, #7a551e04 100%),
    linear-gradient(90deg, #b07f3404 52.5%, #f9c88804 100%);
  background-color: #00ffc4;
  background-blend-mode: color;
}

.dark {
  background-color: #3b3848;
}

.danger {
  background-color: #ea534b;
}
