.heading {
  color: #fffc;
  font-weight: 400;
  line-height: 1.3;
  font-size: 0.625rem;
}

.value {
  margin-right: 4px;

  font-family: Kanit;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 19.8px;
}

.unit {
  font-family: Kanit;
  color: #ffffffb3;
  font-size: 0.875rem;
  line-height: 18.2px;
}
