.mainButtons {
  display: inline-block;
  margin: 0 24px;

  > *:not(:last-child) {
    margin-right: 12px;
  }
}

.button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #00ff38;
}

.backButton {
  transform: scaleX(-1);
}
