.socials {
  display: flex;
  justify-content: flex-end;

  > * + * {
    margin-left: 16px;
  }

  .link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    transition: color 300ms ease;

    &:hover {
      color: rgba(#000, 0.7);
    }
  }
}
