.header {
  height: 100px;
  width: 100%;
  box-sizing: border-box;
  background: transparent;
}

.container {
  height: 100%;
  padding: 20px 0;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.walletBalance {
  color: #000000;
}

.menuIcon {
  & svg path {
    fill: #000000;
    stroke: #000000;
  }
}

.vara-logo {
  margin-right: 22px;
}

.headerContent {
  display: flex;
  align-items: center;
  gap: 48px;
}

.cancelGameButton {
  background: #f24a4a12;
  color: #f24a4a;
  border-radius: 0;

  svg path {
    fill: #f24a4a;
    stroke: #f24a4a;
  }
}

.dropdown {
  @media screen and (max-width: 767px) {
    display: block;
  }
}

.dropdown {
  @media screen and (max-width: 767px) {
    z-index: 4;
    display: block;

    button {
      display: flex !important;
    }
  }
}
