@use '~styles/variables' as *;
@use '~styles/mixins' as *;

.road {
  position: relative;
  width: 264px;
  height: 100%;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.02);
}

.roads-start {
  height: 100%;
  position: absolute;
  left: 300px;
}

.road-canvas {
  position: absolute;
  left: 0;
}

.car {
  position: absolute;
  transition: all 1s;
}

.car-effect {
  position: absolute;
  z-index: -1;

  &-shooted {
    &-fire {
      height: 84px;
      transform: translate(-45px, -10px);
    }

    &-smoke {
      height: 204px;
      transform: translate(-38px, -78px);
    }
  }

  &-accelerated {
    height: 50px;
    transform: translateX(-150px);
  }
}
