@use '~styles/variables' as *;
@use '~styles/mixins' as *;

.header {
    height: 100px;
    width: 100%;
    box-sizing: border-box;
    background: theme-var($background-primary);
    z-index: 2;

    @include md {
        height: 80px;
    }

    .logo-link {
        height: 100%;
        position: relative;
        display: flex;

        &-centered {

            @include md {
             margin: auto;
            }
        }
        
        & img {
            max-height: 100%;
        }

        .post-logo {
            position: relative;
            top: -5px;
            font-size: 20px;
            font-weight: 400;
            background: linear-gradient(90deg, #2B2B2B 33.39%, #0ED3A3 77.42%);
            -webkit-background-clip: text;
            background-clip: text; 
            -webkit-text-fill-color: transparent;
            align-self: start;
            margin-bottom: 10px;

            @include md {
                display: none;
            }
        }
    }
}

.container {
    height: 100%;
    padding: 20px 0;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;

    @include xl {
        padding: 20px 20px;
    }

    @include lg {
        padding: 30px 20px;
    }

    @include md {
        padding: 20px 20px;
    }
}

.menu {
    list-style: none;
    display: flex;

    @include lg {
        align-items: center;
    }
}

.menu-item {
    margin: 0 30px;
    font-size: 18px;
    font-weight: 500;

    @include lg {
        margin: 0 10px;
    }

    &--active {
        color: theme-var($green-special)
    }
}

.wallet-info {
    display: flex;
    align-items: center;

    &-connect-btn {
        width: 170px;
        font-size: 16px;
        font-weight: 700;
    }
}

.balance {
    display: flex;
    align-items: center;
    padding: 12px 0;
    margin-right: 20px;

    &-coin-image {
        margin-right: 10px;
    }

    &-value {
        font-size: 20px;
        font-weight: 700;
        letter-spacing: -2%;
    }

    &-decimals {
        margin: 10px 0 0 1px;
        font-size: 10px;
        font-weight: 500;
        line-height: 1.4;
        color: theme-var($text-primary);
        text-transform: uppercase;
        opacity: 60%;
      }

    &-currency-name {
        margin: 8px 0 0 4px;
        font-size: 10px;
        font-weight: 400;
        color: theme-var($text-primary);
        opacity: 0.6;
        text-transform: uppercase;
    }
}

.description {
    height: 50px;
    min-width: 128px;
    max-width: 200px;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    border: none;
    outline: none;
    background: theme-var($background-tertiary);
    cursor: pointer;

    &-icon {
        min-width: 16px;
        min-height: 16px;
        margin-right: 10px;
        background: wheat;
        border-radius: 50px;
    }

    &-name {
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 3%;
        color: theme-var($text-secondary);
    }
}

.blur-background {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(39, 44, 63, 0.11);
    backdrop-filter: blur(16px);
    z-index: 4;
    width: 100%;
    height: 100%;
    display: none;

    @include lg {
        display: block
    }
}

.menu-wrapper {
    display: flex;
    align-items: center;
}