.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 40;
  padding: 20px 0;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    flex-shrink: 0;

    &--center {
      @media screen and (max-width: 767px) {
        margin: 0 auto;
      }
    }
  }

  &__wallet {
    @media screen and (max-width: 767px) {
      display: none;
    }
  }
}

.wallet > button {
  font-size: 16px;
  padding-right: 22px;
  padding-left: 22px;
}

.mobile_balance {
  display: none;

  @media screen and (max-width: 767px) {
    display: block;
    display: flex;
    margin-right: 14px;
  }
}

.menu_wrapper {
  display: flex;
  flex-direction: row-reverse;
}