@use 'utils' as *;

.button {
  width: 216px;

  span {
    @include textOverflow;
  }
}

.form {
  margin-bottom: 80px;
  padding: 10px 0;
  display: flex;
  align-items: flex-end;
  gap: 16px;
}

.input.input {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.input label {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  opacity: 0.6;
}

.button {
  margin-top: 20px;
}
