.container {
  position: relative;
  height: 279px;
  width: 279px;

  & > svg {
    position: absolute;
    top: 0;
    left: 0;
    height: 279px;
    width: 279px;
  }
}

.loader {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: #ffffff80;
  backdrop-filter: blur(12px);
  > svg {
    animation: rotateSpinner 2.5s linear infinite;
    height: 48px;
    width: 48px;
  }
}

.loaderText {
  margin-top: 6.5px;
  color: #000000;
}

.fallback {
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(white 10%, rgba(255, 255, 255, 0) 5%),
      linear-gradient(90deg, white 10%, rgba(255, 255, 255, 0) 5%),
      linear-gradient(270deg, white 10%, rgba(255, 255, 255, 0) 5%),
      linear-gradient(0deg, white 10%, rgba(255, 255, 255, 0) 5%);
    pointer-events: none;
    border-radius: 50%;
  }
}

@keyframes rotateSpinner {
  to {
    transform: rotate(360deg);
  }
}
