@use '~styles/variables' as *;
@use '~styles/mixins' as *;

.container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    background: theme-var($background-secondary);

    @include wings
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;

    @include md {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
}

.content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 30px;

    @include xl {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
}

.view-more-button-wrapper {
    padding-top: 32px;
    margin: auto;
}

.no-streams-found {
    font-size: 24px;
    font-weight: 600;
    margin: auto;
}

.dropdown-title {
    font-size: 40px;
}