@use '~styles/variables' as *;
@use '~styles/mixins' as *;

.list {
    max-height: 430px;
    overflow-y: auto;

    .wallet-button {
      width: 100%;
      min-height: 48px;
      padding-right: 20px;
      padding-left: 24px;
      margin-bottom: 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      outline: none;
      border: none;
      background: theme-var($background-primary);
      transition: all 0.3s;
      cursor: pointer;
  
      &:hover {
        background: theme-var($background-primary);
      }
    }
  }
  
  .status {
    text-align: right;
  
    &-text {
      font-weight: 600;
      font-size: 12px;
      line-height: 12px;
      color: #a2a2a2;
    }
  
    &-accounts {
      font-weight: 700;
      font-size: 11px;
      line-height: 10px;
      letter-spacing: 0.02em;
      color: theme-var($green-special);
    }
  }
  
  .account {
    display: flex;
    align-items: center;
    margin: 10px 0;

    &-identicon {
      display: inline;
    }

    &-name {
      max-width: 200px;
      white-space: nowrap;
    }
  
    &-button {
      width: 100%;
      padding: 14px 16px;
      margin-right: 20px;
      gap: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 600;
      font-size: 16px;
      line-height: 18px;
      color: theme-var($text-primary);
      background-color: theme-var($background-primary);
      transition: all 0.3s;
      overflow-y: auto;
      border: none;
      outline: none;
      cursor: pointer;

      &-content {
        width: 100%;
        padding-left: 10px;
        gap: 10px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
      }
  
      &.active {
        background: theme-var($green-special);
      }
  
      &:hover {
        background-color: theme-var($background-primary);
      }

      &:disabled {
        background: linear-gradient(270deg,#64ffdb12,#00ffc412);;
      }
    }

  }
  
  .footer {
    margin-top: 22px;
    display: flex;
    justify-content: space-between;
  
    .wallet-button {
      display: flex;
      align-items: center;
      background: transparent;
      transition: all 0.3s;
      gap: 10px;
      border: none;
      outline: none;
      cursor: pointer;
  
      &:hover {
        opacity: 0.5;
      }
    }
  }

  .logout-button-container {
    display: flex;
    align-items: center;
  }
  
  .logout-button {
    color: theme-var($text-primary);
    font-size: 14px;
    font-weight: 700;
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
  }