@use 'utils' as *;

.welcome {
  max-width: 375px;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  @include lg {
    max-width: 100%;
    align-items: center;
    text-align: center;
  }

  &:not(:last-child) {
    margin-bottom: 50px;
  }
}

.heading {
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 72px;
  line-height: 120%;

  @include lg {
    margin-bottom: 16px;
    font-size: 48px;
  }

  .nftText {
    background: linear-gradient(90deg, #000000 33.39%, #00ffc4 77.42%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.text {
  margin-bottom: 48px;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;

  @include lg {
    font-size: 16px;
    margin-bottom: 24px;
  }
}

.button {
  padding: 16px 32px;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0.03em;
  background-color: #35ffd0;
  border-radius: 2px;
  transition: all 0.3s;

  &:hover {
    background-color: #29c6a1;
  }
}
