  .inputContainer {
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 4px;

    &-light {
      border: 1px solid rgba(255, 255, 255, 0.23);
    }

    &-dark {
      border: 1px solid rgba(0, 0, 0, 0.25);
    }
  }

  .input {
    height: 55px;
    width: 100%;
    padding-left: 16px;
    border: none;
    box-sizing: border-box;
    
    background: transparent;
    
    &-light {
      color: #ffffff;

      &::placeholder {
        color: rgba(255, 255, 255, 0.5);
      }
    }

    &-dark {
      color: #000000;

      &::placeholder {
        color: rgba(0, 0, 0, 0.6);
      }
    }
  }

  .label {
    &-default {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 16px;
      display: flex;
      align-items: center;
      pointer-events: none;
    }

    &-active {
      height: 22px;
      font-size: 12px;
      transform: translate(0, -50%);
      padding-left: 4px;
      padding-right: 4px;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 16px;
      display: flex;
      align-items: center;
      pointer-events: none;
    }

    &-dark {
      color: #313635;
    }

    &-light {
      color: #b7b7b7;
    }
  }

  .label-dark.label-active {
    background: #fff;
  }
  .label-light.label-active {
    background: #000;
  }

  .input, .label .text {
    font-family: 'Anuphan';
    font-size: 16px;
  }

  .input:focus + .label-default .text {
    font-size: 12px;
    transform: translate(0, -50%);
    padding-left: 4px;
    padding-right: 4px;
    
    background: #000;
  }

  .label .text {
    transition: all 0.15s ease-out;
  }

  .input:focus {
    border: none;
    outline: none;
  }

  .input:focus + .label-default .text, :not(.input[value=""]) + .label-default .text {
    font-size: 12px;
    transform: translate(0, -156%);
    padding-left: 4px;
    padding-right: 4px;
  }
  .input:focus + .label-default.label-dark .text, :not(.input[value=""]) + .label-default.label-dark .text {
    background: #fff;
    color: #313635;
  }
  .input:focus + .label-default.label-light .text, :not(.input[value=""]) + .label-default.label-light .text {
    background: #000;
    color: #b7b7b7;
  }

  .iconContainer {
    margin-left: 18px;
  }