@use '@/assets/styles';
@import "global.css";

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#alert-root {
  color: #fff;

  > div > div > div {
    border: none;
    border-radius: 0;
  }
}

main {
  position: relative; // for loaders
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 32px 0;
}
