@use '@/assets/styles';

#root {
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  box-sizing: content-box;

  @media screen and (max-width: 767px) {
    padding: 0;
  }
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0 60px;
  position: relative; // for loaders
}

body {
  background-color: #1a1a1f;
  background-image: url(assets/images/shadow.svg);
  background-position: left -1030px top -1001px;
  background-size: 3600px;
  background-repeat: no-repeat;
  min-height: 100vh;
}
