@use '@gear-js/ui/variables' as *;
@use 'utils' as *;

.container {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 20px;

  @include lg {
    @include gap(16px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}
