@use 'utils' as *;

@import "fonts";

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  color: inherit;

  &:not(p &) {
    text-decoration: none;
  }
}

img,
svg {
  vertical-align: middle;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

*,
::after,
::before {
  border: none;
  font-family: inherit;
  box-sizing: border-box;
}

button {
  cursor: pointer;

  &:disabled {
    pointer-events: none;
  }
}

body {
  margin: 0;
  font-family: 'Anuphan', sans-serif;
  color: #000;
  background-color: #fff;
  background-position: top;
  background-size: 100%;
  background-repeat: no-repeat;
  font-variant-numeric: lining-nums proportional-nums;

  @supports not (font-variation-settings: "wdth" 115) {
    & {
      font-family: 'Anuphan-Fallback', sans-serif;
    }
  }

  @include lg {
    background-size: 650px;
    background-position: center top 10%;
  }

  &.modal-open {
    overflow-y: hidden;
  }

  &.welcome {
    background-image: url(/assets/images/bg.png);

    @include lg {
      background-image: url(/assets/images/mobile-bg.png);
    }
  }
}
