@use 'utils' as *;

.heading {
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 40px;
  line-height: 120%;
}

.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.nft {
  max-width: 380px;
  padding: 30px;
  background: url(../../assets/bg.svg) center/100% 100% no-repeat;
}

.collection {
  margin-bottom: 2px;
  font-weight: 500;
  font-size: 12px;
  line-height: 120%;
}

.name {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  color: #ffffff;
}

.media {
  height: 320px;
  display: flex;
  align-items: flex-end;
  padding: 20px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 2px;
}

.footer {
  @include gap(16px, right);
  flex: 1;
  padding: 5px 5px 5px 15px;
  display: flex;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.07);
  backdrop-filter: blur(10px);
  border-radius: 2px;
  overflow: hidden;
}

.owner {
  display: flex;
  flex-direction: column;
  color: #fff;
  line-height: 120%;
  overflow: hidden;

  &Heading {
    font-weight: 500;
    font-size: 10px;
  }

  &Text {
    @include textOverflow;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.04em;
  }
}

.link {
  padding: 12px 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.03em;
  white-space: nowrap;
  background-color: #09ffc6;
  border-radius: 2px;
}

.embla {
  overflow: hidden;

  &Container {
    display: flex;
  }

  &Slide {
    margin-right: 30px;
    flex: 0 0 24%;
    min-width: 0;
  }
}

.header {
  display: flex;
  justify-content: space-between;
}

.leftButton,
.rightButton {
  @include circle(40px);
  border: 1px solid #000000;
  background-color: transparent;
}

.rightButton {
  transform: rotate(180deg);
  margin-left: 20px;
}

.placeholder {
  padding: 170px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: url('../../assets/placeholder.svg') center/100% 100% no-repeat;

  &Heading {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 28px;
    line-height: 120%;
  }

  &Text {
    max-width: 400px;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
  }
}
