@use '@gear-js/ui/resets';
@use '@gear-js/ui/typography';

*,
::after,
::before {
  border: none;
}

button:not(:disabled) {
  cursor: pointer;
}

body {
  color: #000;
  background: #fff top/100% url(/assets/images/bg.png) no-repeat;

  &.contract {
    background: #fff top/100% url(/assets/images/bg-active.png) no-repeat;
  }
}
