@use '@gear-js/ui/resets';

@font-face {
  font-family: 'Anuphan', sans-serif;
  font-weight: 300;
  src: url('../fonts/anuphan-400.woff2') format('woff2');
}

@font-face {
  font-family: 'Anuphan', sans-serif;
  font-weight: 400;
  src: url('../fonts/anuphan-500.woff2') format('woff2');
}

@font-face {
  font-family: 'Anuphan', sans-serif;
  font-weight: 500;
  src: url('../fonts/anuphan-600.woff2') format('woff2');
}

@font-face {
  font-family: 'Anuphan', sans-serif;
  font-weight: 600;
  src: url('../fonts/anuphan-700.woff2') format('woff2');
}

*,
::after,
::before {
  border: none;
}

button {
  cursor: pointer;

  &:disabled {
    pointer-events: none;
  }
}

body {
  font-family: 'Anuphan', sans-serif;
  color: #000;
  background-color: #fff;
  background-position: top;
  background-size: 100%;
  background-repeat: no-repeat;

  &.modal-open {
    overflow-y: hidden;
  }

  &.setup {
    background-image: url(/assets/images/bg.png);
  }

  &.active {
    background-image: url(/assets/images/bg-active.png);
  }
}
