accounts
node_modules
output
artifacts
cache
temp
typechain
.openzeppelin/unknown-*.json*
third-party
.env*
*.rej
*.orig
*.r1cs
*.sym
*.log
circuit_js
dist
contracts/dummy/*verifier.sol
circuits/build
circuits/semaphore_constraints.json
circuits/semaphore_js/
test/java
generate_witness.js
witness_calculator.js
*_constraints.json
scripts/types/
.DS_STORE
contracts/target
contracts/poker/.binpath
contracts/poker-factory/.binpath
contracts/pts/.binpath

# circuits
*.vkey.json

# yarn
.pnp.*
.yarn/install-state.gz

# dev
*.backup

.gitattributes
*zkey*
*wasm
coverage*

pot*

target
