@use '@gear-js/ui/mixins' as *;
@use '@/assets/styles/utils' as *;

.button {
  font-size: 16px;
  padding-right: 24px;
  padding-left: 24px;
  text-transform: capitalize;

  span {
    display: block;
    max-width: 15ch;
    white-space: nowrap;
    @include textOverflow;
  }
}

.icon {
  pointer-events: none;
}
