[package]
name = "vara-man"
version.workspace = true
edition.workspace = true
publish.workspace = true

[dependencies]
gstd = { workspace = true, features = ["debug"] }
vara-man-io.workspace = true
fungible-token-io.workspace = true
schnorrkel.workspace = true

[dev-dependencies]
gstd.workspace = true
gtest.workspace = true
gclient.workspace = true
tokio.workspace = true
blake2-rfc.workspace = true
gear-core.workspace = true
sp-core.workspace = true
hex = "0.4.3"

# External binaries
fungible-token.workspace = true

[build-dependencies]
vara-man-io.workspace = true
gear-wasm-builder.workspace = true
