REACT_APP_NODE_ADDRESS=
REACT_APP_IPFS_GATEWAY_ADDRESS=
REACT_APP_CONTRACT_ADDRESS=
REACT_APP_FT_CONTRACT_ADDRESS=

# optional, specify sentry dsn and targetted domain for error tracking
# if domain is not specified, localhost is used by default
REACT_APP_SENTRY_DSN=
REACT_APP_SENTRY_TARGET=
