@use '@/assets/styles/utils' as *;

.wrapper {
  display: flex;
  align-items: center;
  padding: 16px;
  background-color: #f6f6f6;
  border-radius: 4px;
  @include flex-gap(16px);

}

.mark {
  width: 24px;
  height: 24px;
}

.text {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  @include flex-gap(8px);

  svg {
    width: 20px;
    height: 20px;
  }
}

.timer {
  margin-left: auto;
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
}
