.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  font-size: 21px;
  text-align: center;

  pre {
    margin-top: 12px;
    max-width: 500px;
    font-size: 16px;
    text-align: left;
    color: #777777;
    white-space: normal;
  }
}
