@use 'utils' as *;

.list {
  @include gap(16px);
  max-height: 70vh;
  margin-right: -32px;
  padding-right: 16px;
  overflow-y: auto;

  .walletButton {
    justify-content: space-between;
  }
}

.status {
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  text-align: right;
}

.account {
  @include gap(10px, right);
  display: flex;
  align-items: center;

  &Button {
    @include gap(12px, right);
  }
}

.footer {
  margin-top: 22px;
  display: flex;
  justify-content: space-between;

  .walletButton {
    @include gap(8px, right);
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
  }
}

.changeText {
  margin-left: 8px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.02em;
  color: #2bd071;
}

.logoutButton {
  @include gap(4px, right);
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: #a2a2a2;
}
