.button {
  padding: 18px 24px;
  font-size: 21px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.08em;
  color: #333;
  text-transform: uppercase;
  background-color: #00ff38;
  border: 1px solid #333;
  box-shadow: inset -1px -1px 0px 0px #333;
  cursor: pointer;
  transition: all 0.25s;

  &:hover {
    background-color: #1bd744;
  }
}
