@use '@/utils' as *;

.container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  @include gap(64px);
  width: 100%;
}

.header {
  @include gap(24px);
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @include gap(48px);
}

.bottom {
  margin-top: 16px;
}

.muted {
  color: rgba(0, 0, 0, 0.4);
  text-align: center;
}

.link {
  position: relative;
  color: #000;
  font-weight: 600;
  transition: color 250ms ease;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    margin-top: -2px;
    height: 2px;
    background-color: #000000;
    transition: opacity 250ms ease;
  }

  &:hover {
    color: #404040;

    &::after {
      opacity: 0;
    }
  }
}
