@use 'assets/styles';

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  position: relative; // for loaders
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 50px 0 70px;

  > * {
    flex: 1;
    //width: 100%;
  }
}
