.welcome {
  max-width: 375px;
}

.heading {
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 72px;
  line-height: 120%;

  .nftText {
    background: linear-gradient(90deg, #000000 33.39%, #00ffc4 77.42%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.text {
  margin-bottom: 48px;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
}
