REACT_APP_NODE_ADDRESS=wss://node-workshop.gear.rs:443
REACT_APP_CONTRACT_ADDRESS=0xc661c85f1efc224cd6412d06083b72a18439c3303ed972768925ec0132d55d57
REACT_APP_IPFS_ADDRESS=http://127.0.0.1:5001
REACT_APP_IPFS_GATEWAY_ADDRESS=https://ipfs.io/ipfs/
