.socials {
  display: flex;
  align-items: center;
  line-height: 1;

  > * + * {
    margin-left: 16px;
  }

  li {
    display: inline-flex;
  }

  a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    transition: color 300ms ease;
    margin: 0 0 -1px -1px;

    &:hover {
      color: rgba(#000, 0.7);
    }
  }
}
