# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
dist
dist-ssr
*.local

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
.idea

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
/.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
