.avatar {
  border-radius: 50%;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sm {
  width: 24px;
  height: 24px;
}

.md {
  width: 39px;
  height: 39px;
}

.lg {
  width: 61px;
  height: 61px;
}
