.list {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .walletButton {
    justify-content: space-between;
  }

  .account {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

.status {
  font-size: 12px;
  line-height: 1;
  text-align: right;

  .statusText {
    font-weight: 600;
    color: #fff;
  }

  .statusAccounts {
    font-weight: 800;
    color: #2bd071;
  }
}

.footer {
  display: flex;
  justify-content: space-between;

  .changeText {
    margin-left: 8px;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.02em;
    color: #2bd071;
  }
}

.instruction {
  display: flex;
  flex-direction: column;
  gap: 16px;

  & a {
    text-decoration: underline;
    transition: all 0.3s;

    &:hover {
      opacity: 0.5;
    }
  }
}
