.modal {
  min-width: 670px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 23px;
}

.inputs {
  display: flex;
  align-items: flex-end;
  gap: 16px;
}

.button {
  width: 100%;
}