.socials {
  display: flex;
  align-items: center;
  line-height: 1;

  * + * {
    margin-left: 16px;
  }

  a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    transition: opacity 300ms ease;

    &:hover {
      opacity: 0.7;
    }
  }
}
