@use 'utils' as *;

.container {
  display: grid;
  grid-template-columns: 1fr minmax(0, auto);
  align-items: center;
  gap: 64px;
  padding-bottom: 20px;
  padding-top: 20px;

  @include lg {
    gap: 24px;

    &:first-child svg {
      max-width: 160px;
    }
  }
}

.configuration,
.desktopMenu {
  display: flex;
  align-items: center;
  gap: 20px;
}

.desktopMenu {
  @include lg {
    display: none;
  }
}

.desktopWallet {
  font-size: 16px;
  padding-right: 24px;
  padding-left: 24px;
  text-transform: capitalize;

  span {
    @include textOverflow;
    display: block;
    max-width: 15ch;
    white-space: nowrap;
  }

  svg {
    cursor: pointer;
  }
}

.mobileMenuWrapper {
  display: none;
  position: relative;

  @include lg {
    display: block;
  }

  .button {
    --btn-bg-color: transparent;
    padding: 4px 1px;

    svg {
      width: 26px;
      height: 20px;
    }
  }

  .list {
    position: absolute;
    max-width: 250px;
    //max-width: calc(100vw - 32px);
    top: calc(100% + 16px);
    right: 0;
    padding: 4px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 4px rgba(#000, 0.1);
    z-index: 9;
  }

  .item {
    padding: 16px 8px;

    &--wallet {
      padding-top: 5px;
      padding-bottom: 5px;

      > button {
        width: 100%;
        padding-right: 16px;
        padding-left: 16px;
        font-size: 16px;

        span {
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
    }
  }
}

.configuration {
  white-space: nowrap;

  @include lg {
    grid-column: 1 / -1;
  }
}

.addresses {
  display: flex;
  align-items: center;

  .separator {
    width: 1px;
    height: 45px;
    margin: 0 20px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1' height='46' fill='none'%3E%3Cpath stroke='url(%23a)' stroke-dasharray='2 2' d='M.5.5v45'/%3E%3Cdefs%3E%3ClinearGradient id='a' x1='.333' x2='0' y1='0' y2='46.5' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-opacity='0'/%3E%3Cstop offset='.474'/%3E%3Cstop offset='1' stop-opacity='0'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
  }
}
