@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --white: 255 255 255;
  --black: 0 0 0;
  --primary: 0 179 135;
  --primary-500: 0 179 135;
  --primary-600: 15 153 119;
  --primary-700: 22 138 109;
  --primary-dark: 0 179 135;
  --primary-light: 178 254 236;
  --dark: 34 36 36;
  --dark-600: 36 38 37;
  --light-grey: 222 222 222;
  --theme-blue: 24 82 255;
  --blue-light: 42 94 250;
  --secondary-500: 240 240 240;
  --secondary-600: 227 227 227;
  --secondary-700: 214 214 214;
  --gray-700: 58 61 77;
  --error: 252 23 77;
  --red: 242 74 74;
  --placeholder: 69 66 66;
  --text-dark: 20 20 20;
  --color-purple: 97 83 225;

  --color-dark-500: 41 41 43;
  --color-light: 209 209 209;

  --base-font: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

@layer base {
  html {
    @apply bg-[#1e1e1e] overflow-hidden;
  }

  .container {
    @apply w-full max-w-[1150px] mx-auto px-5;
  }
}

@layer components {
  .typo-h1 {
    @apply font-kanit text-[72px] leading-[86px] font-medium
  }

  .typo-h2 {
    @apply font-kanit text-[40px] leading-[48px] font-bold tracking-[0.04em]
  }

  .btn {
    @apply inline-flex justify-center items-center text-center py-2.5 px-8 text-[14px] font-semibold text-center leading-5 tracking-[0.08em] rounded-full whitespace-nowrap cursor-pointer select-none;
  }

  .btn--primary {
    @apply text-white bg-primary hover:bg-[#168b4e] active:bg-green-800 transition-colors;
  }

  .btn--primary-outline {
    @apply text-white bg-primary bg-opacity-10 hover:bg-opacity-20 active:bg-opacity-30 border border-primary border-opacity-20 transition-colors;
  }

  .btn--gray {
    @apply text-black bg-secondary-500 hover:bg-secondary-600 active:bg-secondary-700 transition-colors
  }

  .btn--ghost {
    @apply text-white bg-white/10 hover:bg-white/30 active:bg-white/50 transition-colors
  }

  .btn--white {
    @apply text-black bg-white hover:bg-[#DEDEDE] active:bg-neutral-300 transition-colors
  }

  .btn--error {
    @apply text-white bg-tertiary hover:bg-red-600 active:bg-red-700 transition-colors
  }

  .btn--blue {
    @apply text-white bg-theme-blue hover:bg-blue-600 active:bg-blue-700 transition-colors;
  }

  .btn:disabled {
    @apply cursor-not-allowed
  }

  .btn--loading {
    @apply opacity-90 gap-2 before:w-4 before:h-4 before:border-2 before:border-neutral-400 before:rounded-full before:border-l-transparent before:border-t-transparent before:animate-spin;
  }
}

.ellipse {
  position: absolute;
  top: 100%;
  z-index: -20;
  left: 50%;
  transform: translateX(-50%);
  width: 276px;
  height: 171px;
  background: #ffffff;
  opacity: 0.7;
  filter: blur(50px);
}

.bg-battle-row {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0) 100%);
  backdrop-filter: blur(4px);
}


.card-mask {
  mask-size: cover;
  mask-image: url("data:image/svg+xml,%3Csvg width='160' height='246' viewBox='0 0 160 246' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 39.7723C0 33.0257 4.23198 27.004 10.5797 24.7184L79.2308 0L149.329 24.7586C155.724 27.0174 160 33.0628 160 39.8452V246H0V39.7723Z' fill='white'/%3E%3C/svg%3E");}
