.header {
  background: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 15px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 30px;
  z-index: 1001;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 100%;
  max-width: 62px;
  height: auto;
}

.header__change {
  position: absolute;
  bottom: -15vmin;
}

.modalBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Задайте подходящий цвет затемнения */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Убедитесь, что z-index достаточно большой, чтобы затемнение было поверх остального контента */
}

.noScroll {
  overflow: hidden;
}
