@use '~styles/variables' as *;
@use '~styles/mixins' as *;

@keyframes burger-menu-slide {
    from {width: 0px;}
    to {width: 338px;}
  }

.burger-menu {
    position: fixed;
    top: 0;
    right: -1px;
    width: 100%;
    height: 100%;
    z-index: 5;
    display: flex;
    flex-direction: column;
    animation-name: burger-menu-slide;
    animation-duration: 0.2s;
}

.burger-menu-header{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000000;
    padding: 20px 40px;
    z-index: 2;
}

.burger-menu-body {
    margin-top: 1px;
    border-top: 1px solid #414042;
    padding: 30px 40px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 15px;

    & button {
        display: flex;
        flex-direction: column;
        align-items: end;
        font-size: 20px;
    }
}

.description {
    height: 50px;
    min-width: 128px;
    max-width: 200px;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    border: none;
    outline: none;
    background: theme-var($background-tertiary);
    cursor: pointer;

    &-icon {
        min-width: 16px;
        min-height: 16px;
        margin-right: 10px;
        background: wheat;
        border-radius: 50px;
    }

    &-name {
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 3%;
        color: theme-var($text-secondary);
    }
}