.header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 15px;
  background: #131217;
  display: flex;
  flex-direction: column;
  font-family: 'Anuphan', 'Poppins', sans-serif;
  gap: 30px;
  z-index: 9;

  &.open {
    background: #ffffff;
  }
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 100%;
  max-width: 62px;
  height: auto;
}

.header__change {
  position: absolute;
  bottom: -15vmin;
}

.modalBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 8;
}

.noScroll {
  overflow: hidden;
}
