@use '~styles/variables' as *;
@use '~styles/mixins' as *;

.wrapper {
  display: none;

  @include lg {
    display: flex;
  }
}

.toggle {
  padding: 0;
  border: none;
  width: 24px;
  height: 24px;
}

.btn {
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;

  &-disconnect {
    background: #000000;
    color: #ffffff;
  }
}

.modal {
  position: relative;
  z-index: 1;

  &__backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);

    @media screen and (min-width: 768px) {
      background-color: rgba(0, 0, 0, 0.2);
      backdrop-filter: blur(10px);
    }
  }

  &__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: hidden;
  }

  &__container {
    display: flex;
    min-height: 100%;
    align-items: flex-start;
    justify-content: center;

    @media screen and (min-width: 768px) {
      align-items: center;
    }
  }

  &__content {
    --opacity-closed: 0%;
    --opacity-open: 100%;

    position: relative;
    width: 100%;
    max-width: 400px;
    padding-top: 88px;
    padding-bottom: 16px;
    background: #ffffff;

    hr {
      border-bottom: 1px solid #72707d33;
    }

    @media screen and (min-width: 768px) {
      --scale-closed: 90%;
      --scale-open: 100%;
    }

    @media screen and (max-width: 767px) {
      --y-closed: -32px;
      --y-open: 0px;

      padding: 80px 16px 16px;
      max-width: 100%;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
  }

  &__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #222424;
  }

  &__close {
    position: absolute;
    top: 20px;
    right: 16px;
    z-index: 10;
    opacity: 50%;
    transition: color 350ms ease;

    &:hover {
      color: #777777;
    }
  }
}

.actions {
  display: flex;

  > * + * {
    margin-left: 16px;
  }

  > button {
    --btn-radius: 4px;

    width: 100%;
    padding: 5px 0;
    font-size: 16px;
  }
}

.item {
  display: grid;
  align-items: center;
  grid-gap: 12px;
  padding: 14px 9px 10px;

  &-splited {
    grid-template-columns: auto 1fr auto;
  }

  &-with-border-top {
    border-top: 1px solid #72707D33;
  }

  &__text {
  }

  &__title {
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    text-transform: capitalize;
  }

  &__helper {
    font-size: 11px;
    line-height: 12px;
    letter-spacing: 0.15px;
    font-weight: 400;
    color: #72707D;
  }

  .create-btn {
    width: 100%;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.03em;
    line-height: 26px;
  }
}

.options {
  display: flex;
  flex-direction: column;
 
  .option {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.03em;
    line-height: 42px;

    &:hover {
      color: #00FFC4;
    }
  }
}
