body {
  color: #000;
  background-color: #fff;

  &.modal-open {
    overflow-y: hidden;
  }
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 100vw;

  @supports (height: 1svh) {
    min-height: 100svh;
  }
}

main {
  position: relative; // for loaders
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0 0 32px 0;
  overflow-x: hidden;

  @media screen and (max-width: 767px) {
    padding: 0;
  }
}

*,
::before,
::after {
  border: none;
}

button {
  cursor: pointer;
}

a {
  color: inherit;

  // underline only if link is a part of paragraph
  &:not(p &) {
    text-decoration: none;
  }
}
