@use 'utils' as *;

.button {
  @include gap(10px, right);
  background-color: transparent;
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.03em;

  span {
    @include textOverflow;
    max-width: 160px;
  }
}
