@use '@/assets/styles/utils' as *;

.wrapper {
  display: flex;
  align-items: center;
  @include gap(12px, right);
  width: 100%;
  padding: 7px 20px;
  border: 1px solid #c4c4c4;
  border-radius: 4px;
  transition: border-color 250ms ease;

  &:not([data-disabled]):focus-within {
    border-color: #00ffc4;
  }

  &[aria-invalid='true'] {
    border-color: #fc174d;
  }

  input {
    width: 100%;
    padding: 0;
    outline: none;

    &::placeholder {
      color: #010500;
    }

    &[type='number'] {
      appearance: textfield;
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      appearance: none;
      margin: 0;
    }
  }
}
