.modal {
  min-width: 670px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.text {
  font-size: 14px;
}

.button {
  width: 100%;
}

.modalHeader {
  margin-bottom: 10px;
}

.gameDetailsItem {
  display: flex;
  gap: 50px;
}

.controls {
  display: flex;
  gap: 24px;
}