
.modal {
    width: 100%;
    max-width: 400px;
    padding: 0;
    border-radius: 4px;
    background: #161616;
    border: none;
  
    &::backdrop {
      background: rgba(0, 0, 0, 0.2);
      backdrop-filter: blur(10px);
    }
  }
  
  .wrapper {
    padding: 30px 32px;
  }
  
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
    font-size: 14px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #fff;
  }