@use '@gear-js/ui/variables' as *;

.header {
    @media screen and (max-width: 767px) {
      background: #1A1A1F;
      position: relative;
    }
}

.content {
  @media screen and (max-width: 767px) {
    padding: 0 26px;
  }
}

.logo {
  max-width: 150px
}

.link {
  max-height: 32px;
  margin-right: 48px;
  margin-left: auto;
}

.balance {
  margin-right: 48px;
  font-size: $fontSizeMedium;

  .currency {
    color: $textColorSecondary;
  }
}

.mobileMenuWrapper {
  background: #1A1A1F;
  background: linear-gradient(180deg, rgba(26,26,31,1) 0%, rgba(0,0,0,1) 60%);
}

.menuOptionsIcon,.menuOptionsItem {
  @media screen and (max-width: 767px) {
    color: #fff;

    & path {
      fill: #fff;
    }
  }
}

.balance {
  color: #fff;
}

.menuIcon {
  svg path {
    fill: #fff;
    stroke: #fff;
  }
}