@use '@/assets/styles/utils' as *;

.container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  @include gap(64px);
  width: 100%;
}

.header {
  @include gap(24px);
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @include gap(48px);
}

.controlsWrapper {
  @include gap(48px);
  width: 80%;
  position: relative;
  z-index: 1;

  > div {
    @include gap(16px);
  }
}

.startGameButton {
  width: 100%;
}

.bottom {
  position: absolute;
  bottom: 0;
  max-height: 55vmin;
  width: 100%;
  overflow: hidden;

  img {
    width: 100%;
    object-fit: cover;
    object-position: top;
  }

  @media only screen and (min-width: 600px) {
    max-height: 30vmin;
  }
}

.muted {
  color: rgba(0, 0, 0, 0.4);
  text-align: center;
}

.link {
  position: relative;
  color: #000;
  font-weight: 600;
  transition: color 250ms ease;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    margin-top: -2px;
    height: 2px;
    background-color: #000000;
    transition: opacity 250ms ease;
  }

  &:hover {
    color: #404040;

    &::after {
      opacity: 0;
    }
  }
}
