@use '@/utils' as *;

.footer {
  position: relative;
}

.footer__container {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;

  @media screen and (max-width: 767px) {
    display: none;
  }

  &.mobile {
    @media screen and (max-width: 767px) {
      display: grid !important;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
      padding-bottom: 28px;
    }
  }
}

.footer__logo {
  max-width: 80px;
  max-height: 52px;
  width: 100%;
  height: 100%;
}

.footer__socials {
  display: flex;
  justify-content: flex-end;
}

.footer__copyright {
  @media screen and (max-width: 767px) {
    order: 1;
    grid-column: 1 / -1;
    text-align: center;
  }
}

.banner {
  @media screen and (max-width: 767px) {
    padding-top: 24px;
  }

  &__container {
    position: relative;
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 24px;
    padding: 40px 56px 40px 40px;
    color: #fff;
    background-color: #000000;
    background-image: radial-gradient(
      63.92% 185.86% at 41.88% 70.03%,
      rgba(0, 255, 196, 0.2) 0%,
      rgba(0, 255, 196, 0) 100%
    );
    border-radius: 8px;

    @media screen and (max-width: 767px) {
      grid-template-columns: 1fr;
      padding: 16px;
    }
  }

  &__backdrop {
    position: absolute;
    top: 38px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    margin: 0;
    background-color: #00ffc4;

    @media screen and (max-width: 767px) {
      top: 38px + 16px;
    }
  }

  &__right {
    @include gap(16px);
  }

  &__title {
    font-size: 34px;
    font-weight: 600;
    line-height: 41px;
    letter-spacing: 0.02em;

    @media screen and (max-width: 767px) {
      font-size: 23px;
      line-height: 28px;
    }

    span {
      display: inline-block;
      background: linear-gradient(90deg, #ffffff 33.39%, #00ffc4 77.42%);
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &__text {
    @include gap(14px);
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0;

    @media screen and (max-width: 767px) {
      font-size: 14px;
      line-height: 20px;
    }
  }

  &__left {
    @include gap(16px);
  }

  &__item {
    display: flex;
    align-items: center;
    padding: 24px;
    @include gap(20px, right);
    background-color: #00ffc429;
    border-radius: 4px;
    font-size: 18px;
    line-height: 25px;

    @media screen and (max-width: 767px) {
      align-items: flex-start;
      padding: 16px;
      font-size: 14px;
      line-height: 20px;
    }

    a {
      position: relative;
      display: inline-block;
      font-weight: 700;
      color: #00ffc4;

      &:hover {
        &::before {
          background-color: transparent;
        }
      }

      &::before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 1px;
        height: 2px;
        background-color: currentColor;
        transition: background-color 150ms ease-in;
      }
    }
  }

  &__icon {
    display: inline-block;
    padding: 12px;
    border-radius: 50%;
    background-color: #00ffc4;
    color: #0b1114;

    @media screen and (max-width: 767px) {
      padding: 4px;
    }
  }
}
