[package]
name = "proxy"
version = "0.1.0"
edition = "2024"

[dependencies]
proxy-app = { path = "app" }

[build-dependencies]
proxy-app = { path = "app" }
sails-rs = { workspace = true, features = ["wasm-builder"] }
sails-idl-gen.workspace = true

[dev-dependencies]
proxy = { path = ".", features = ["wasm-binary"] }
proxy-client = { path = "client" }
sails-rs = { workspace = true, features = ["gtest"] }
tokio = { workspace = true, features = ["rt", "macros"] }
counter = { path ="../counter", features = ["wasm-binary"] }
counter-client = { path = "../counter/client" }

[features]
wasm-binary = []
