@use "@/assets/styles/utils" as *;

//.viewport {
//  padding: 4px;
//}

.trigger {
  display: flex;
  align-items: center;
  @include gap(4px, right);
}

.content {
  position: relative;
  z-index: 50;
  padding: 4px;
  min-width: 128px;
  border-radius: 6px;
  overflow: hidden;
  background-color: #fff;
  color: #000000;
  box-shadow: 0 0 28px 0 rgba(0, 0, 0, 0.20);
}

.item {
  position: relative;
  padding: 4px 4px 4px 20px;
  @include gap(4px, right);
  text-align: left;
}

.item-indicator {
  position: absolute;
  top: 50%;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14px;
  height: 14px;
  transform: translate3d(0, -50%, 0);
}
