.container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
}

.changeAccount {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;

  & .item-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
  }
}

hr {
  border: 1px solid rgba(114, 112, 125, 0.2);
  margin: 1px;
}

.account {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 4px 0px 8px;

  & .textName {
    font-size: 16px;
    line-height: 23px;
    font-weight: 600;
  }
}

.buttons {
  display: flex;
  gap: 16px;

  & button {
    font-size: 1rem;
    font-weight: 700;
    width: 100%;
    height: 40px;
    justify-content: center;
    padding: 7px 10px;
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
