.container {
    display: flex;
    flex-direction: column;
    position: relative;

    .dropdown {
        width: max-content;
        display: flex;
        align-items: center;
        gap: 5px;
        background: transparent;
        border: none;
    }
    
    .item {
        display: flex;
        align-items: center;
        gap: 14px;
        padding: 12px;
        border-bottom: 1px solid #72707D33;

        &-content {
            display: flex;
        }
    } 

    .dropdown-toggle-arrow {
        height: 16px;
        cursor: pointer;

        &-rotated {
            transform: rotate(180deg);
            transition: transform 150ms;
        }

    }
}

.dropdown-menu {
    position: absolute;
    top: 120%;
    width: 260px;
    z-index: 1;
    border-radius: 4px;
    left: -240%;
    background: white;
    box-shadow: 0px 8px 24px 12px #00000040;


    .item-prefix-icon {
        max-width: 24px;
        max-height: 24px;
    }

    .item-content {
        display: flex;
        flex-direction: column;
        flex: 1;

        .item-title {
            font-size: 14px;
            font-weight: 400;
        }

        .item-value {
            font-size: 11px;
            font-weight: 400;
            color: #413D54;
        }
    }

    .item-edit-icon {
        cursor: pointer;
    }
}