@use '@/assets/styles/utils' as *;

.map {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.block {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  border: 0.48px solid #CFCFCF;
  cursor: pointer;
  z-index: 1;

  &Enemy {
    position: relative;
    background: transparent;
    border: 1px solid #00FFC4;
  }
}

.cellFire {
  width: 68px;
  height: 68px;
  z-index: 1;
  transform: translateY(-20px);
}

.cellCross {
  position: absolute;
  width: 24px;
  height: 24px;
  
  & path {
    fill: #808080;
  }

  &Enemy {
    & path {
      fill: #8A0000;
    }
  }
}

.cellSmoke {
  z-index: 1;
  position: absolute;
  width: 72px;
  height: 72px;
  top: -16px;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 15px;

  button,
  button span {
    width: 100%;
  }
}

.sea {
  position: absolute;
  width: 100%;
}

.shipBlock {
  background: url('../../assets/images/ship.svg'), #00FFC4;
}

.hitShip {
  border: 1px solid #00000033;
  background: #CDCDCD;

  &Enemy {
    background: transparent;
  }
}

.hitEmpty {
  width: 4px;
  height: 4px;
  border-radius: 50px;
  background: #00000066;
}

.hitCell {
  border: 1px solid #00000033;
}

.deadShip {
  border: 1px solid #00000033;
  background: #ffe8e8;

  &Enemy {
    background: transparent;
  }
}
