@use 'utils' as *;

.inputWrapper {
  @include gap(12px, right);
  width: 100%;
  max-width: 300px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #0000003b;
  border-radius: 4px;

  @include lg {
    max-width: 100%;
  }

  input {
    width: 100%;
    outline: none;
  }

  svg {
    flex-shrink: 0;
  }
}
