@use 'utils' as *;

.backButton {
  margin-top: 16px;
}

.keys {
  @include gap(16px);
  margin-bottom: 32px;
  overflow-wrap: break-word;

  p {
    display: flex;
    flex-direction: column;
  }
}

.buttons {
  display: flex;
  justify-content: space-evenly;
}
