@use '@gear-js/ui/variables' as *;

.form {
  display: flex;
  flex-direction: column;

  > *:not(:last-child) {
    margin-bottom: 32px;
  }

  button {
    align-self: center;
  }
}

.text {
  font-size: 12px;
  margin-top: -24px;
  color: #ccc;
}
