VITE_NODE_ADDRESS=
VITE_GASLESS_BACKEND_ADDRESS=
VITE_DNS_API_URL=
VITE_DNS_NAME=

# optional, specify sentry dsn and targetted domain for error tracking
# if domain is not specified, localhost is used by default
VITE_SENTRY_DSN=
VITE_SENTRY_TARGET=
