@use 'assets/styles';
@use '@gear-js/ui/variables' as *;

#root {
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  box-sizing: content-box;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative; // for loaders
}

body {
  background-color: #000;

  &.leaderboard {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1141' height='529' fill='none'%3E%3Cg filter='url(%23a)' opacity='.3'%3E%3Ccircle cx='570.5' cy='-41.5' r='222.5' fill='%232BD071'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='a' width='1141' height='1141' x='0' y='-612' color-interpolation-filters='sRGB' filterUnits='userSpaceOnUse'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur result='effect1_foregroundBlur_82_1619' stdDeviation='174'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E");
    background-position: top;
    background-repeat: no-repeat;
  }
}
