@use 'assets/styles';
@use '@gear-js/ui/variables' as *;

#root {
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  box-sizing: content-box;
}

main {
  flex: 1;
  padding: 30px 0 60px;
  position: relative; // for loaders
}

body {
  background: #000 radial-gradient(87.5% 87.5% at 62.28% 47.29%, rgba(46, 46, 46, 0) 0%, #0c0922 100%);
}
