@use 'assets/styles';
@use '@gear-js/ui/variables' as *;
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&family=Silkscreen&display=swap');

:root {
  --color-secondary: #{red($textColorSecondary) green($textColorSecondary) blue($textColorSecondary)};
  --color-primary: #{red($successColor) green($successColor) blue($successColor)};
  --color-error: #{red($errorColor) green($errorColor) blue($errorColor)};
  --color-dark-500: 41 41 43;
  --color-light: 209 209 209;
}

html {
  background-color: #1e1e1e;
  font-family: "Silkscreen", cursive;
}

body {
  background: $bgColor url(assets/images/bg.gif);
  background-size: cover;
}

.start-launch-container {
  padding: 20px;
  background: #202022;
  border: 2px solid rgb(255, 255, 255);
  font-family: "Silkscreen", cursive;
}

.rk-btn {
  border-radius: 0 !important;
  font-family: "Silkscreen", cursive !important;
  background-color: #910d9a !important;
}

.rk-btn:hover {
  border-radius: 0 !important;
  font-family: "Silkscreen", cursive !important;
  background-color: #6f0c76 !important;
}

.logs {
  background: #202022;
  font-size: 15px;
  border: 2px solid rgb(255, 255, 255);
  font-family: "Silkscreen", cursive;
}

.panel {
  background: #c0c0c0;
  box-shadow: 0 -2px #fffdfc, 0 -4px #cce9eb;
  color: #202022;
  font-size: 2em;
  font-family: "Silkscreen", cursive;
  padding: 25px;
}

.panel2 {
  margin-top: 20px;
  background: #c0c0c0;
  box-shadow: 0 -2px #fffdfc, 0 -4px #cce9eb;
  color: #202022;
  font-family: "Silkscreen", cursive;
  padding: 5px;
}

.reg {
  font-size: 1.5em;
}

.blink {
  animation: blinker 0.6s linear infinite;
  color: blue;
  background-color: #c0c0c0;
  padding: 3px;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.blink-one {
  animation: blinker-one 1s linear infinite;
}

@keyframes blinker-one {
  0% {
    opacity: 0;
  }
}

.blink-two {
  animation: blinker-two 1.4s linear infinite;
}

@keyframes blinker-two {
  100% {
    opacity: 0;
  }
}