.heading {
  margin-bottom: 43px;
  font-size: 32px;
  line-height: 18px;
  font-weight: 700;
  color: #000;
  letter-spacing: 0.08em;
}

.subheading {
  margin-bottom: 124px;
  font-size: 21px;
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  color: #00ff38;
}
