[package]
name = "tic-tac-toe"
version.workspace = true
edition.workspace = true
license.workspace = true
authors.workspace = true

[dependencies]
gstd = { workspace = true }
tic-tac-toe-io.workspace = true
schnorrkel.workspace = true

[build-dependencies]
gmeta.workspace = true
tic-tac-toe-io.workspace = true
gear-wasm-builder.workspace = true

[dev-dependencies]
gstd.workspace = true
gtest.workspace = true
gclient.workspace = true
tokio.workspace = true
hex.workspace = true
gear-core.workspace = true

[features]
binary-vendor = []
