.gallery-wrapper {
  width: 100%;
  padding: 20px 0;
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 30px 10px;
}

.empty-wrapper {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 30px 10px;

  .empty-item {
    background: #f8f8f8;
    height: 374px;
    border-radius: 24px;
  }

  .empty-text-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }

  .empty-text-heading {
    font-size: 28px;
    font-weight: 500;
  }

  .empty-text-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    gap: 5px;
  }
}

.item {
  // transition: opacity 1000ms; 
  // opacity: 1;
}

