@mixin gap($value, $direction: bottom) {
  $margin: 'margin-#{$direction}';

  > *:not(:last-child) {
    #{$margin}: $value;
  }
}

@mixin square($size) {
  width: $size;
  height: $size;
}

@mixin circle($size) {
  @include square($size);
  border-radius: 50%;
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin svgColor($color) {
  path {
    fill: $color;
  }
}

@mixin absoluteCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin textOverflow {
  overflow: hidden;
  text-overflow: ellipsis;
}
