@use '@/assets/styles/utils' as *;

.top {
  width: 100%;
  overflow: hidden;
  margin-bottom: 0;
  position: relative;

  &:after {
    box-shadow: inset 0px -50px 30px -21px rgba(255, 255, 255, 1);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .battleship {
    width: 100%;
    object-fit: cover;
    object-position: top;
    box-shadow: inset 0px -50px 30px -21px rgba(255, 255, 255, 1);
  }

  .tails {
    position: absolute;
    top: 20%;
    width: 42%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    filter: hue-rotate(130deg);
  }
}
