@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 100%;
  width: 100%;

  &-title {
    font-size: 16px;
    font-weight: 400;
    color: theme-var($text-primary);
  }
}
