REACT_APP_NODE_ADDRESS=wss://testnet.vara-network.io
REACT_APP_GASLESS_API_ADDRESS=https://vcmi.gear-tech.io/user
REACT_APP_CONTRACT_ADDRESS=0x8384ae881493c1bb8bb2eae7e84fafac93c031cf6dd74d9a613e48d50438f601
