.container {
  width: 100%;
  max-width: 888px + 40px;
  margin: 0 auto;
  padding: 0 20px 20px;

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    flex: 1;
  }

  @media screen and (max-width: 767px) {
    padding: 0 16px;
  }

  > * + * {
    margin-left: 60px;

    @media screen and (max-width: 767px) {
      margin-left: 0;
    }
  }
}

.container__left {
  flex: 400px 1 1;

  > * + * {
    margin-top: 24px;

    @media screen and (max-width: 767px) {
      margin-top: 16px;
    }
  }
}

.container__right {
  flex: 428px 1 1;
}
