@use '@gear-js/ui/variables' as *;

.accountItem {
  display: flex;
  align-items: center;

  > *:not(:last-child) {
    margin-right: 10px;
  }

  .accountButton {
    flex: 1 1;

    &.active {
      cursor: default;
      background-color: $successColor;

      &:hover {
        background-color: $successColor;
      }
    }
  }
}
