.gameButtons {
  position: relative;
  margin: 0 auto;
  margin-top: -32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  margin-bottom: 50px;
}

.allInContainer {
  align-self: flex-end;
  display: flex;

  button:disabled {
    opacity: 0.5;
  }
}

.actionButtons {
  margin-top: 28px;
  display: flex;
  gap: 12px;

  button:disabled {
    opacity: 0.5;
  }
}

.button {
  position: relative;
}

.text {
  color: #26450c;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 700;
  }
