.gameButtons {
  position: relative;
  margin: 0 auto;
  margin-top: -32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  margin-bottom: 50px;
}

.allInContainer {
  align-self: flex-end;
  display: flex;
}

.actionButtons {
  margin-top: 28px;
  display: flex;
  gap: 12px;
}
