@use "@/assets/styles/utils" as *;

.wrapper {
  display: flex;
  align-items: center;

  .points {
    @include gap(4px, right);
    margin-right: 40px;
  }
}

.balance {
  margin-right: 20px;

  b {
    font-size: 20px;
    line-height: 22px;
    letter-spacing: -0.4px;
  }
}

.openWallet {
  display: flex;
  align-items: center;
  gap: 4px;
}
