.card {
    width: 100%;
    display: flex;
    flex-direction: column;
    animation: ff 1s;
    transition: transform 1s ease-out;
    position: relative;
    cursor: pointer;

    .image-wrapper {
        position: relative;
        height: 288px;
        width: 288px;
        max-width: 288px;
        max-height: 288px;
        display: grid;
        background: #5d5d5d;
        border-top-left-radius: 24px;
        border-top-right-radius: 24px;
        overflow: hidden;

        &-mosaic-1 {
            grid-template-columns: repeat(1, 1fr); 
            grid-template-rows: repeat(1, 1fr); 
        };

        &-mosaic-4 {
            grid-template-columns: repeat(2, 1fr); 
            grid-template-rows: repeat(2, 1fr); 
        };

        &-mosaic-9 {
            grid-template-columns: repeat(3, 1fr); 
            grid-template-rows: repeat(3, 1fr); 
        };
        
        .image {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: #5d5d5d;
        }
    }

    .content {
        min-height: 80px;
        padding: 10px 16px;
        display: flex;
        flex-direction: column;
        gap: 4px;
        box-shadow: 0px 0px 20px 0px #0000001F;
        border-bottom-left-radius: 24px;
        border-bottom-right-radius: 24px;


        .title {
            font-size: 20px;
            font-weight: 600;
        }
        
        .info {
            display: flex;
            gap: 16px;
            padding-top: 5px;

            .item {
                display: flex;
                gap: 8px;
            }

            .item-text {
                font-size: 12px;
                font-weight: 400;
            }
        }
    }

    .available-to-mint-button {
        position: absolute;
        left: 16px;
        bottom: 16px;
        border-radius: 6px;
        padding: 0;
        cursor: auto;
    }
}