@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.layout {
  height: 80%;
  width: 1200px;
  position: relative;
  margin: 40px 0 10px;

  @include xl {
    width: 100%;
    height: auto;
    margin: auto;
  }
  @include lg {
    margin-top: 20px;
  }
}

.player {
  width: 100%;
  height: 100%;
}

.broadcast-not-available {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: theme-var($background-secondary);
}

.stream-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.backdrop-filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
}

.play-stream-button {
  z-index: 1;
}
