@use 'utils' as *;

.wallet {
  @include gap(16px, right);
  display: flex;
  align-items: center;
}

.balanceValue {
  margin-right: 4px;
  font-weight: 500;
  font-size: 18px;
  line-height: 110%;
}

.balanceUnit {
  line-height: 130%;
  color: rgba(#fff, 0.7);
}
