@use '@/assets/styles/utils' as *;

.content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;

  & button {
    width: 100%;
    padding: 16px 10px;
  }
}
