@use 'sass:color';
@use '@/assets/styles';
@use '@gear-js/ui/variables' as *;

:root {
  --color-secondary: #{color.channel($textColorSecondary, 'red') color.channel($textColorSecondary, 'green')
    color.channel($textColorSecondary, 'blue')};
  --color-primary: #{color.channel($successColor, 'red') color.channel($successColor, 'green')
    color.channel($successColor, 'blue')};
  --color-error: #{color.channel($errorColor, 'red') color.channel($errorColor, 'green')
    color.channel($errorColor, 'blue')};
}
