@use '~styles/variables' as *;
@use '~styles/mixins' as *;

.app-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.main-content {
  flex: 1;
  width: 1200px;
  max-width: 1200px;
  display: flex;
  margin: auto;
  background: theme-var($background-primary);
}