.character {
  position: absolute;
  width: 295px;

  &.left {
    left: 210px;
    top: 214px;
  }
  &.right {
    right: 187px;
    top: 222px;
  }
}

.fireSphere {
  position: absolute;
  left: -8px;
  top: -36px;
}

.redButton {
  background: #eb5757;
  color: #ffffff;
  &:hover {
    background: #eb5757;
  }
}

.buttons {
  display: flex;
  position: absolute;
  top: 566px;
  gap: 24px;
}

.segmented {
  position: absolute;
  top: 684px;
}

.exit {
  position: absolute;
  top: 692px;
  right: 263px;
  height: 40px;
  width: 93px;
}

.cancelTournament {
  position: absolute;
  top: 688px;
  right: 137.5px;
  height: 44px;
  width: 168px;
  font-size: 14px;
}

.players {
  display: flex;
  align-items: center;
  gap: 10px;
  > div {
    gap: 8;
    display: flex;
    align-items: center;
    gap: 6px;
  }
}

.list {
  position: absolute;
  top: 767px;
}

.historyItem {
  display: flex;
}

.endTurnHistory {
  position: absolute;
  top: 441px;
}

.nextButton {
  width: 579px;
  position: absolute;
  top: 589px;
}

.gameOver {
  position: absolute;
  top: 0px;
}
