.character {
  position: absolute;
  width: 340px;

  &.left {
    left: 210px;
    top: 214px;
  }
  &.right {
    right: 187px;
    top: 222px;
  }
}

.fireSphere {
  position: absolute;
  left: 0px;
  top: -26px;
  height: 100%;
  width: 100%;
}

.redButton {
  background: #eb5757;
  color: #ffffff;
  &:hover {
    background: #eb5757;
  }
}

.buttons {
  display: flex;
  position: absolute;
  top: 566px;
  gap: 24px;
}

.exit {
  position: absolute;
  top: 692px;
  left: calc(50% + 364px);
  height: 40px;
  width: 93px;
}

.cancelTournament {
  position: absolute;
  top: 688px;
  left: calc(50% + 433px);
  height: 44px;
  width: 168px;
  font-size: 14px;
}

.historyItem {
  display: flex;
}

.endTurnHistory {
  position: absolute;
  top: 441px;
}

.nextButton {
  width: 579px;
  position: absolute;
  top: 589px;
}

.gameOver {
  position: absolute;
  top: 0px;
}

.cancelTournamentModal {
  width: 650px;
}
