.character {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 295px;
  gap: 16px;
}

.card {
  position: absolute;
  top: 158px;
  width: 668px;
  max-height: 478px;

  &Filled {
    top: 32px;
    width: 881px;

    & > :first-child {
      gap: 24px;
      padding-top: 32px;
      padding-bottom: 0;
    }
  }
}

.container {
  position: absolute;
  top: 556px;
  width: 1000px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-left: auto;
  margin-right: auto;
}

.buttons {
  display: flex;
  gap: 16px;
  & > div {
    flex: 1;
  }
}
