.tabs {
  position: absolute;
  top: 684px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &.defeated {
    top: 642px;
  }
}

.backButton {
  max-width: 580px;
}

.list {
  margin-top: 30px;
}

.playersList {
  margin-top: 43px;
}

.switcher {
  margin-top: 31px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.historyItem {
  display: flex;
  cursor: pointer;

  &.disabled {
    cursor: auto;
    pointer-events: none;
  }
}

.players {
  display: flex;
  align-items: center;
  gap: 10px;
  > div {
    gap: 8;
    display: flex;
    align-items: center;
    gap: 6px;
  }
}
