name: Contracts CI - Build

on:
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always
  DEFAULT_TOOLCHAIN: 1.91.0

defaults:
  run:
    working-directory: contracts

permissions:
  contents: write
  id-token: write
  pages: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  all:
    name: Build - Release
    runs-on: self-hosted
    container:
      image: ghcr.io/gear-foundation/dapps/ci-rust:${{ env.DEFAULT_TOOLCHAIN }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install rust-src component
        run: rustup component add rust-src --toolchain stable-x86_64-unknown-linux-gnu

      - name: Build
        run: 'cargo build --release --workspace;'

      - name: 'Upload Artifact'
        uses: actions/upload-artifact@v4
        with:
          name: wasm
          path: |
            contracts/target/wasm32-gear/release/*.*.wasm
            contracts/target/wasm32-gear/release/*.meta.txt

      - name: Update the nightly tag
        if: github.ref == 'refs/heads/master'
        run: |
          git tag nightly
          git push -f origin nightly

      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          name: ${{ github.ref == 'refs/heads/master' && 'Nightly' || github.ref_name }}
          tag_name: ${{ github.ref == 'refs/heads/master' && 'nightly' || github.ref_name }}
          prerelease: ${{ github.ref == 'refs/heads/master' }}
          files: |
            contracts/target/wasm32-gear/release/*.*.wasm
            contracts/target/wasm32-gear/release/*.meta.txt

      - name: Upload the GitHub Pages artifact
        if: github.ref == 'refs/heads/master'
        uses: actions/upload-pages-artifact@v3
        with:
          path: contracts/target/doc

  # A separate job for the Pages deployment is neccessary to prevent the spam from the "deployed"
  # messages in PRs.
  # https://github.com/orgs/community/discussions/36919
  deploy:
    name: Deploy GitHub Pages
    if: github.ref == 'refs/heads/master'
    needs: all
    environment: github-pages
    runs-on: self-hosted
    steps:
      - name: Deploy GitHub Pages
        uses: actions/deploy-pages@v4
