name: Frontend CI

on:
  pull_request:
    paths-ignore: contracts/**
  push:
    paths-ignore: contracts/**
    branches: [master]

defaults:
  run:
    working-directory: frontend

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  CI: false
  DISABLE_ESLINT_PLUGIN: true

jobs:
  build:
    strategy:
      matrix:
        include:
          # Apps
          - subdir: apps/battleship
            build: build
          - subdir: apps/galactic-express
            build: build
          - subdir: apps/nft-marketplace
            build: build
          - subdir: apps/nft-master
            build: build
          - subdir: apps/non-fungible-token
            build: build
          - subdir: apps/racing-car-game
            build: build
          - subdir: apps/syndote
            build: build
          - subdir: apps/tamagotchi
            build: build
          - subdir: apps/tamagotchi-battle
            build: build
          - subdir: apps/tequila-train
            build: build
          - subdir: apps/tic-tac-toe
            build: build
          - subdir: apps/vara-man
            build: build
          - subdir: apps/varatube
            build: build

          # Packages
          - subdir: packages/ez-transactions
            build: build

    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install dependencies
        run: sudo npm i -g yarn

      - name: Build
        if: ${{ matrix.build }} != null
        run: yarn --cwd ${{ matrix.subdir }} && yarn --cwd ${{ matrix.subdir }} ${{ matrix.build }}
