name: Update GEAR Dependencies

on:
  schedule:
    - cron: '*/30 * * * *' # Runs every 30 minutes
  workflow_dispatch: # Allows manual triggering of the workflow

defaults:
  run:
    working-directory: scripts

permissions:
  contents: write
  pull-requests: write

jobs:
  update-dependencies:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install requests packaging gitpython

    - name: Check for new tag and update Cargo.toml
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        python update_gear_version.py
        if ! git diff --exit-code; then
          echo "Changes detected in the repository after running the update_gear_version.py script."

          # Configure git
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

          # Output changes for logging
          echo "The following changes were made:"
          git diff

          # Create a new branch
          branch_name="update-gear-dependencies-$(date +%Y%m%d%H%M%S)"
          echo "Creating a new branch: $branch_name"
          git checkout -b $branch_name

          # Stage and commit changes
          echo "Staging changed files."
          git add ../contracts/Cargo.toml

          echo "Committing changes with message: 'Update GEAR dependencies to latest tag in contracts'"
          git commit -m "Update GEAR dependencies to latest tag in contracts"

          # Push the new branch
          echo "Pushing the new branch: $branch_name"
          git push origin $branch_name

          # Create a pull request using GitHub CLI
          echo "Creating a pull request for the new branch: $branch_name"
          GITHUB_TOKEN="${{ secrets.GITHUB_TOKEN }}" gh pr create --title "Update GEAR dependencies" --body "Automatically created pull request to update GEAR dependencies" --base master --head $branch_name
        else
          echo "No changes were detected after running the update_gear_version.py script."
        fi
