.menuButton {
  gap: 2px;
  height: 169px;
  flex: 1;
  padding: 10px 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border: solid 1px transparent;
  border-radius: 20px;
  position: relative;
  overflow: hidden;

  background-image: linear-gradient(180deg, #2a2a32 0%, #17161c 100%), linear-gradient(180deg, #3c3a42 0%, #1b1a1f 100%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.title {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
  z-index: 1;
}

.subtitle {
  font-family: 'Urbanist', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #6b6581;
  z-index: 1;
}

.illustration {
  position: absolute;
  right: 0;
  bottom: 0;
  pointer-events: none;
}
