@use '~styles/variables' as *;
@use '~styles/mixins' as *;

.wallet-info {
  display: flex;
  align-items: center;
}

.balance {
  display: flex;
  align-items: baseline;
  padding: 12px 0;
  margin-right: 20px;

  &-coin-image {
    align-self: center;
    margin-right: 10px;
    width: 24px;
    height: 24px;
  }

  &-value {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: -2%;
  }

  &-decimals {
    margin-left: 1px;
    font-size: 10px;
    font-weight: 500;
    line-height: 1.4;
    color: theme-var($text-primary);
    text-transform: uppercase;
    opacity: 60%;
  }

  &-currency-name {
    margin-left: 4px;
    font-size: 10px;
    font-weight: 500;
    line-height: 1.4;
    color: theme-var($text-primary);
    text-transform: uppercase;
    opacity: 60%;
  }
}

.description {
  height: 40px;
  min-width: 128px;
  max-width: 200px;
  padding: 0 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  border: none;
  border-radius: 4px;
  outline: none;
  background: theme-var($background-tertiary);
  cursor: pointer;

  &-icon {
    min-width: 16px;
    min-height: 16px;
    margin-right: 10px;
    background: theme-var($background-primary);
    border-radius: 50px;
  }

  &-name {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.03em;
    color: theme-var($text-secondary);
  }
}

.score {
  padding-right: 60px;

  @include md {
    padding-right: 20px;
  }
}

.connect-btn {
  width: 200px;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.03em;
}
