.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 15px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 30px;
  z-index: 9;

  &Dark {
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 10%, rgba(0,51,39,1) 50%, rgba(0,0,0,1) 90%); 
    color: #ffffff;
  }
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 100%;
  max-width: 62px;
  height: auto;
}

.header__change {
  position: absolute;
  bottom: -15vmin;
}

.modalBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 8;
}

.noScroll {
  overflow: hidden;
}

.accountInfo {
  span {
    color: #ffffff;
  }
  svg:last-child path {
    stroke: #ffffff; 
  }
}